.gist {
  color: #000; }

.gist .render-container .render-viewer-error, .gist .render-container .render-viewer-fatal, .gist .render-container .octospinner {
  display: none;}

.gist pre {
  font-size: .8rem;
  line-height: inherit;
  white-space: pre; }

.gist .gist-file {
  border: none;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  margin-bottom: 1em; }

.gist .gist-file.gist-render {
  border: none; }

.gist .gist-file .gist-meta {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  overflow: hidden;
  font-size: 85%;
  padding: .5em;
  color: #666;
  background-color: #eaeaea; }

.gist .gist-file .gist-meta a {
  color: #369; }

.gist .gist-file .gist-meta a:visited {
  color: #737; }

.gist .gist-file .gist-data {
  overflow: auto;
  word-wrap: normal;
  background-color: #f8f8ff;
  border: none;
  font-size: 100%; }

.gist .gist-file .gist-data .line-data {
  padding: .5em !important; }

.gist .gist-file .gist-data .line-pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  background: transparent !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important; }

.gist .gist-file .gist-data .gist-highlight {
  background: transparent !important; }

.gist .gist-file .gist-data .line-numbers {
  background-color: #ececec;
  color: #aaa;
  border-right: 1px solid #ddd;
  text-align: right;
  padding: .5em; }

.gist .gist-file .gist-data .line-numbers .line-number {
  clear: right;
  display: block; }
