// Sprites CSS - Social Media

#twitter{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -10px -10px no-repeat;
}

#tumblr{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -100px -10px no-repeat;
}

#rss{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -190px -10px no-repeat;
}

#linkedin{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -10px -100px no-repeat;
}

#instagram{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -100px -100px no-repeat;
}

#github{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -190px -100px no-repeat;
}

#google{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -10px -190px no-repeat;
}

#facebook{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -100px -190px no-repeat;
}

#coderwall{
height:80px;
width:80px;
background:url(/public/images/sprites.png) -190px -190px no-repeat;
}