// Sprites CSS - Social Media
// Let's now put SASS to work :P

// Some vars
$spriteGrid: 50px;
$imagesSprite: '/public/images/sprites.png';

// Mixins
@mixin spriter($xval, $yval) {
height:$spriteGrid;
width:$spriteGrid;
background:url($imagesSprite) $xval $yval no-repeat;
border-style: none;
}

ul.navlist_social{display: block; list-style: none;}

img {
  &.facebook{ @include spriter(0px,0px); }
  &.twitter{ @include spriter(-$spriteGrid, 0px); }
  &.coderwall{ @include spriter(-$spriteGrid*2, 0px); }
  &.instagram{ @include spriter(0px, -$spriteGrid) }
  &.skype{ @include spriter(-$spriteGrid, -$spriteGrid); }
  &.github{ @include spriter(-$spriteGrid*2, -$spriteGrid); }
  &.linkedin{ @include spriter(0px, -$spriteGrid*2); }
  &.google{ @include spriter(-$spriteGrid, -$spriteGrid*2); }
  &.tumblr{ @include spriter(-$spriteGrid*2, -$spriteGrid*2); }
}

// li.rss{
// height:$spriteGrid;
// width:$spriteGrid;
// background:url($imagesSprite) -190px -10px no-repeat;
// }