// Sprites CSS - Social Media
// Let's now put SASS to work :P

// Some variables to set up the grid properly and use later on
$spriteGrid: 50px;
$imagesSprite: '/public/images/sprites2.png';

// List of all media icons included.
$social-list:(facebook,twitter,coderwall,instagram,skype,github,linkedin,google,tumblr,rss);

// Mixins
// Take the offset (position of the icon on the sprite image)
// Do -1 because lists start at 1 in Sass, but the coordinates start at 0
// set the background to calculate the position based on offset.
@mixin create-sprite($offset) {
  $offset: $offset - 1;
  & {
    height: $spriteGrid;
    width: $spriteGrid;
    background: url($imagesSprite) $spriteGrid*-$offset top;
  }
}

ul.navlist_social {
  display: block;
  list-style: none;
  a {
    text-indent: -999em;
    float:left;
    width: $spriteGrid;
    height: $spriteGrid;
  }
}

@for $i from 1 through length($social-list) {
  $social-icon: nth($social-list, $i);
  a.#{$social-icon} {
    @include create-sprite($i);
  }
}