@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Cherry+Swash&display=swap");

// Colors
$font-main: rgb(50, 26, 24);
$background: rgb(255,255,240);
$accent-light: rgb(247, 223, 214);
$accent-dark: rgb(184, 213, 137);

// Typography
$sans-serif: "Cherry Swash", cursive;
$serif: "Bitter", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
