@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Cherry+Swash&display=swap");

// Colors
$font-main: #031f2d;
$background: #f9f4d7;
$accent-light: #ee8f1e;
$accent-dark: #60160d;

// Typography
$sans-serif: "Cherry Swash", cursive;
$serif: "Bitter", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
