{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
  <header>
    <h1>{{ .Title }}</h1>
    {{ if eq (.Type | singularize) "post" }}
      <div>
          <div>
          {{ if not (.Param "hideDate") }}
            {{ partial "timestamp.html" . }}
          {{ end }}

          {{ if not (.Param "hideWordCount") }}
            {{ if not (.Param "hideDate") }} {{ end }}
              {{ partial "word_count.html" . }}
            {{ end }}
          {{ if not (.Param "hideReadingTime") }}
          {{ if not (and (.Param "hideDate") (.Param "hideWordCount")) }} | {{ end }}
            {{ partial "reading_time.html" . }}
          {{ end }}
          </div>
        </div>
        {{ range .Params.tags }}
        <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}
  </header>
  {{ with .Params.thumbnail }}
    <img src="{{ . }}" alt="thumbnail">
  {{ end }}
  <section>
    {{ .Content }}
  </section>
  <footer>
    {{ if eq (.Type | singularize) "page" }}
    <div>
	    <div>
		    Last Update:
		    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
			    {{ .Date.Format "Jan 2, 2006" }}
		    </time>
	    </div>
    </div>
    {{ else }}
    
    {{ partial "comment.html" . }}
    
    <nav>
      <div>
        <div>
          {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink }}">Newer</a>
          {{ end }}
        </div>
        <div>
          {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.Permalink }}">Older</a>
          {{ end }}
        </div>
      </div>
    </nav>
    {{ end }}
    {{ partial "related.html" . }}
    {{ partial "siteinfo.html" . }}
  </footer>
</article>
{{ partial "footer.html" . }}
