<article>
  <header>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p>
      {{ partial "timestamp.html" . }}
      ◦
      {{ if not (.Param "hideModifiedDate") }}
        {{ partial "modified_date.html" . }}
      {{ end }}
      ◦
      {{ if not (.Param "hideWordCount") }}
        {{ partial "word_count.html" . }}
      {{ end }}
      ◦
      {{ if not (.Param "hideReadingTime") }}
        {{ partial "reading_time.html" . }}
      {{ end }}
    </p>
  </header>
  <div>
    {{ .Summary | plainify | safeHTML }}
  </div>
  {{ if .Truncated }}
  <a href="{{ .Permalink }}">Read more ...</a>
  {{ end }}
</article>
