{{ if .Site.Menus.main }}
<nav>
  <ul>
    {{ range .Site.Menus.main.ByWeight }}
      {{ if .HasChildren }}
        <li>
          <span>{{ .Name }}</span>
          <ul>
            {{ range .Children }}
              <li>
                <a href="{{ .URL | relLangURL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
      <li>
        <a href="{{ .URL }}">
          {{- .Name -}}
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
{{ end }}
