{{/* Site logo/title */}}
{{ if .Site.Params.Logo -}}
  {{ $logo := resources.Get .Site.Params.Logo }}
  {{ if $logo }}
    {{ .Site.Title }}
  {{ end }} 
{{ else }}
  {{ .Site.Title | markdownify | emojify }}
{{- end }}

{{/* Main menu */}}
  <nav class="sidebar-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .) }}
      active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
  </nav>