<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    document.createElement('header');
    document.createElement('footer');
    document.createElement('section');
    document.createElement('aside');
    document.createElement('nav');
    document.createElement('article');
</script>
{% include header.html %}
</head>

<body>
  <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <a href="{{ site.url }}" id="logo" title="{{ site.data.other.name }}"
             style="background-image: url({{site.baseurl}}/public/images/header.png);"></a>
        </div>
        {% include nav.html %}
      </header>
    {{ content }}
  {% if page.comments %}
    {% include discus.html %}
  {% endif %}
  </div>

  {% include footer.html %}
  <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>