<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} </title>
    <meta name="author" content="{{ site.data.other.author }}" />
    <meta charset="utf-8" />
    <link href="/public/css/resume.css" media="screen" rel="stylesheet" type="text/css" />
  {% include header.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <a href="{{ site.url }}" id="logo" title="{{ site.data.other.name }}"
             style="background-image: url({{site.baseurl}}/public/images/header.png);"></a>
        </div>
        {% include nav.html %}
      </header>
      <div id="resume">
        {{ content }}
      </div>
    </div>
  {% include footer.html %}
  <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>