<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  <a href="#main">Skip to content</a>

  <header>
    {{ if .IsPage }}
      <p>
        <a href="{{ .Site.BaseURL }}" class="p-title__link">
          {{ .Site.Title }}
        </a>
      </p>
    {{ else }}
      <h1>
        <a href="{{ .Site.BaseURL }}">
          {{ .Site.Title }}
        </a>
      </h1>
    {{ end }}
    
    {{ with ($.Param "subtitle") }}
      <p>
        {{ . }}
      </p>
    {{ end }}
  </header>
  <main>
