@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Cherry+Swash&display=swap");

$body-font: "Bitter", serif;
$title-font: "Cherry Swash", cursive;

body {
  font-family: $body-font;
  background: palegoldenrod;
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: $title-font;
}
